$primary   : #1e40af
$secondary : #0f2348
$accent    : #1e3a8a

$dark      : #061621
$dark-page : #1f172a

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037


$colorHeaderTable : #1F2937
$colorHeaderModal: linear-gradient(135deg, #331955 0%, #764ba2 100%); 